body{
    background-color: blue;
    color: blueviolet;
fornt-famiy:"bai jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;    
margin: 0;
}
button{
    background-color: aqua;
    color: white;
    font-family: "bai jamjuree", sans-serif;
 