body{
    background-color: blue;
    color: blueviolet;
fornt-famiy:"bai jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;    
margin: 0;
}
button{
    background-color: aqua;
    color: white;
    font-family: "bai jamjuree", sans-serif;
}
.passo {
    display: nome;
}

.passo.activo {
    display:block;
}
    
main{
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}